<launch>

  <!-- add robot 1 -->
  <include file="$(find uuv_pso)/launch/upload_rexrov_pso.launch">
    <arg name="namespace" default="rexrov"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-2"/>
  </include>

  <!-- add robot 2 -->
  <include file="$(find uuv_pso)/launch/upload_rexrov_pso.launch">
    <arg name="namespace" default="rexrov2"/>
    <arg name="x" default="25"/>
    <arg name="y" default="25"/>
    <arg name="z" default="-2"/>
  </include>

  <!-- add robot 3 -->
  <include file="$(find uuv_pso)/launch/upload_rexrov_pso.launch">
    <arg name="namespace" default="rexrov3"/>
    <arg name="x" default="-25"/>
    <arg name="y" default="-25"/>
    <arg name="z" default="-2"/>
  </include>

  <!-- add robot 4 -->
  <include file="$(find uuv_pso)/launch/upload_rexrov_pso.launch">
    <arg name="namespace" default="rexrov4"/>
    <arg name="x" default="-25"/>
    <arg name="y" default="0"/>
    <arg name="z" default="-2"/>
  </include>

</launch>