<launch>
  <arg name="debug" default="0"/>

<!--
      ID of the joystick (to find out the joystick's index, open jstest-gtk)
      Default joystick mapping set for the XBox 360 controller.
  -->
  <arg name="joy_id" default="0"/>
  <arg name="axis_yaw" default="0"/>
  <arg name="axis_x" default="4"/>
  <arg name="axis_y" default="3"/>
  <arg name="axis_z" default="1"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="-20"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="mode" default="default"/>
  <arg name="namespace" default="rexrov"/>
  <arg name="use_ned_frame" default="false"/>

  <include file="$(find uuv_descriptions)/launch/upload_rexrov_$(arg mode).launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="x" value="$(arg x)"/>
    <arg name="y" value="$(arg y)"/>
    <arg name="z" value="$(arg z)"/>
    <arg name="roll" value="$(arg roll)"/>
    <arg name="pitch" value="$(arg pitch)"/>
    <arg name="yaw" value="$(arg yaw)"/>
    <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

<!-- Start the PID controller with its default parameters for the RexROV vehicle  -->
  <include file="$(find uuv_trajectory_control)/launch/rov_pid_controller.launch">
      <arg name="uuv_name" value="rexrov"/>
      <arg name="model_name" value="rexrov"/>
      <arg name="use_ned_frame" value="$(arg use_ned_frame)"/>
  </include>

  <!-- Start joystick teleop node  -->
    <include file="$(find uuv_teleop)/launch/uuv_teleop.launch">
        <arg name="uuv_name" value="rexrov"/>
        <arg name="joy_id" value="$(arg joy_id)"/>
        <arg name="output_topic" value="cmd_vel"/>
        <arg name="message_type" value="twist"/>
        <arg name="axis_yaw" value="$(arg axis_yaw)"/>
        <arg name="axis_x" value="$(arg axis_x)"/>
        <arg name="axis_y" value="$(arg axis_y)"/>
        <arg name="axis_z" value="$(arg axis_z)"/>
        <arg name="gain_yaw" default="0.2"/>
        <arg name="gain_x" default="0.5"/>
        <arg name="gain_y" default="0.5"/>
        <arg name="gain_z" default="0.5"/>
    </include>

</launch>
